<section class="services">
  <div class="container">
    <ul class="services-list">
      <li class="services-list__item solid-black">брендинг. ребрендинг.</li>
      <li class="services-list__item">influecer marketing.</li>
      <li class="services-list__item solid-black">транзитная реклама.</li>
      <li class="services-list__item">наружная реклама.</li>
      <li class="services-list__item solid-black">внутренняя реклама.</li>
      <li class="services-list__item">логотип.</li>
      <li class="services-list__item solid-black">упаковка.</li>
      <li class="services-list__item">брендбук.</li>
      <li class="services-list__item solid-black">айдентика.</li>
      <li class="services-list__item">визитки.</li>
      <li class="services-list__item solid-black">брашуры.</li>
      <li class="services-list__item">каталоги.</li>
      <li class="services-list__item solid-black">нэйиминг.</li>
      <li class="services-list__item">слоган.</li>
      <li class="services-list__item solid-black">рекламный текст.</li>
      <li class="services-list__item">приложения ios.</li>
      <li class="services-list__item solid-black">приложения android.</li>
      <li class="services-list__item">лэндинг.</li>
      <li class="services-list__item solid-black">сайт.</li>
      <li class="services-list__item solid-black">разработка приложений.</li>
      <li class="services-list__item">техническая поддержка</li>
    </ul>
  </div>
</section>




