<section class="services">
  <div class="container">
    <ul class="services-list">
      <li class="services-list__item smooth-appearance_4">
        <span class="solid-black">брендинг. ребрендинг.</span>
      </li>
      <li class="services-list__item smooth-appearance_1">
        <span>influecer marketing.</span>
      </li>
      <li class="services-list__item smooth-appearance_5">
        <span class="solid-black">транзитная реклама.</span>
      </li>
      <li class="services-list__item smooth-appearance_3">
        <span>наружная реклама.</span>
      </li>
      <li class="services-list__item smooth-appearance_4">
        <span class="solid-black">внутренняя реклама.</span>
      </li>
      <li class="services-list__item smooth-appearance_1">
        <span>логотип.</span>
      </li>
      <li class="services-list__item smooth-appearance_5">
        <span class="solid-black">упаковка.</span>
      </li>
      <li class="services-list__item smooth-appearance_2">
        <span>брендбук.</span>
      </li>
      <li class="services-list__item smooth-appearance_3">
        <span class="solid-black">айдентика.</span>
      </li>
      <li class="services-list__item smooth-appearance_5">
        <span>визитки.</span>
      </li>
      <li class="services-list__item smooth-appearance_4 solid-black">
        <span class="solid-black">брашуры.</span>
      </li>
      <li class="services-list__item smooth-appearance_2">
        <span>каталоги.</span>
      </li>
      <li class="services-list__item smooth-appearance_5 solid-black">
        <span class="solid-black">нэйиминг.</span>
      </li>
      <li class="services-list__item smooth-appearance_1">
        <span>слоган.</span>
      </li>
      <li class="services-list__item smooth-appearance_3 solid-black">
        <span class="solid-black">рекламный текст.</span>
      </li>
      <li class="services-list__item smooth-appearance_5">
        <span>приложения ios.</span>
      </li>
      <li class="services-list__item smooth-appearance_2 solid-black">
        <span class="solid-black">приложения android.</span>
      </li>
      <li class="services-list__item smooth-appearance_5">
        <span>лэндинг.</span>
      </li>
      <li class="services-list__item smooth-appearance_2 solid-black">
        <span class="solid-black">сайт.</span>
      </li>
      <li class="services-list__item smooth-appearance_3 solid-black">
        <span class="solid-black">разработка приложений.</span>
      </li>
      <li class="services-list__item smooth-appearance_1">
        <span>техническая поддержка</span>
      </li>
    </ul>
  </div>
</section>