.services {
  background-color: $dark-blue;
  font-size: 52px;
  text-align: center;
  color: $light-green;
  text-transform: uppercase;

  &-list {
    &__item {
      display: inline-block;
      font-weight: 400;
      transition: 0.3s;
      cursor: default;

      &:hover {
        color: $bg-color;
      }

      &.active {
        color: $bg-color;
      }
    }
  }
}
