.services {
  background-color: $dark-blue;
  font-size: 32px;
  text-align: center;
  color: $light-green;
  text-transform: uppercase;

  &-list {
    &__item {
      display: inline-block;
      font-weight: 400;
      cursor: default;
    }

    &__item span {
      transition: .3s;

      &:hover {
        color: $bg-color;
      }

      &.active {
        color: $bg-color;
      }
    }
  }
}