<section class="form" id="form-section">
  <div class="form-background">
    <img src="../../img/bottom-fill.png" alt="" class="form-background__img">
  </div>
  <div class="container">
    <div class="form-wrapper">
      <form class="form-body" id="form">
        <div class="smooth-appearance_2">
          <input class="form__input" type="text" name="name" id="form-name" placeholder="Имя">
        </div>
        <div class="smooth-appearance_3">
          <input class="form__input" type="text" name="tel" id="form-tel" placeholder="Телефон">
        </div>
        <div class="smooth-appearance_4">
          <textarea class="form__textarea" name="message" id="form-massage" cols="30" rows="10"
            placeholder="Введите ваше сообщение"></textarea>
        </div>
        <button class="form-button form__button smooth-appearance_5" type="submit" id="form-btn">
          <img class="form-button__img" src="img/send.png" alt="">
        </button>
      </form>
    </div>
  </div>
</section>