<section class="form" id="form-section">
  <div class="container">
    <div class="form-wrapper">
      <form action="#" class="form-body">
        <input class="form__input" type="text" name="name" id="form-name" placeholder="Имя">
        <input class="form__input" type="text" name="tel" id="form-tel" placeholder="Телефон">
        <textarea class="form__textarea" name="message" id="form-massage" cols="30" rows="10" placeholder="Введите ваше сообщение"></textarea>
        <button class="form-button form__button" type="submit">
          <img class="form-button__img" src="../../img/send.png" alt="">
        </button>
      </form>
    </div>
  </div>
</section>