<section class="questions" id="questions-section">



  <div class="container">
    <div class="questions-wrapper">

      <div class="questions-background">
        <img src="../../img/flaskBig.png" alt="" class="questions-background__img smooth-appearance_3 _bg">
      </div>

      <div class="questions-box">
        <h2 class="questions__title section-title smooth-appearance_1">
          зачем это всем? а вам?
        </h2>

        <p class="questions__description section-description smooth-appearance_2">
          нужно. поверьте на слово. нам нужны ваши деньги, а вам наш дизайн. все.
        </p>
      </div>
    </div>
  </div>
</section>