<section class="about">
  <div class="about-background">
    <img class="about-background__img smooth-appearance_2 _bg" src="../../img/top-fill.png" alt="">
    <img class="about-background__img smooth-appearance_4 _bg" src="../../img/hand.png" alt="">
  </div>
  <div class="container">
    <div class="about-box">
      <h1 class="about__title section-title smooth-appearance_4">
        Лаборатория дизайна
      </h1>

      <p class="about__description section-description smooth-appearance_5">
        Мы профессиональные профессианалы. Наша компания афмгеть какая крутая. Вы не пожалеете что обратились к нам за
        вообще чем угодно. Реальные сроки, реальные вещи. Приходите.
      </p>
    </div>
  </div>
</section>