<section class="flasks">
  <div class="container">
    <h4 class="flasks-title smooth-appearance_1">колбы решений</h4>

    <ul class="flasks-list">
      <li class="flasks-list__item smooth-appearance_2">
        <div class="flasks-list-image">
          <img class="flasks-list__img" src="img/1flask.png" alt="flask">
        </div>
        <h6 class="flasks-list__title">light</h6>
      </li>

      <li class="flasks-list__item smooth-appearance_3">
        <div class="flasks-list-image">
          <img class="flasks-list__img" src="img/2flask.png" alt="flask">
        </div>
        <h6 class="flasks-list__title">business</h6>
      </li>

      <li class="flasks-list__item smooth-appearance_4">
        <div class="flasks-list-image">
          <img class="flasks-list__img" src="img/3flask.png" alt="flask">
        </div>
        <h6 class="flasks-list__title">pro</h6>
      </li>
    </ul>
  </div>
</section>