<header class="header">
    <div class="container">
        <div class="header-wrapper">
            <div class="header-logo">
                <a class="header-logo__link" href="#">
                    <img class="header-logo__img" src="img/L21.png" alt="logo">
                </a>
            </div>

            <nav class="header-navigate">
                <ul class="header-list">
                    <li class="header-list__item">
                        <a href="#" class="header-list__link">О нас</a>
                    </li>
                    <li class="header-list__item">
                        <a href="#" class="header-list__link">услуги</a>
                    </li>
                    <li class="header-list__item">
                        <a href="#" class="header-list__link">конакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>