.footer {
  padding: 25px 0 40px 0;
  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;

    &__link {
      transition: 0.3s;
      &:hover {
        color: $orange;
      }
    }
  }
}
